<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>StockMaster</title>
    <link rel="stylesheet" href="path/to/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='index.css')}}">
</head>

<body>
    <header>
        <h2 class="logo">StockMaster</h2>
        <nav class="navigation">
            <a href="/">Home</a>
            <a href="/tnc">Terms & Conditions</a>
            <button href="/login" class="btnLogin">Get Started</button>
        </nav>
    </header>

    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="{{ url_for('static', filename='index.js')}}"></script>
</body>

</html>
